.cards {
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    gap: 50px;
    padding-bottom: 15px;
}

.cards::-webkit-scrollbar  {
    height: 5px; 
    background-color: #ffffff;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #000000;
}