.card {
    min-width: 260px;
    max-width: 260px;
    width: 260px;
}

.card__img {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 260px;
    object-fit: contain;
    object-position: center;
    background-color: #191B1C;
    margin-bottom: 15px;
}

.card__link {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
    display: inline-block;
}

.card__price {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;
}

@media screen and (max-width: 1150px) {
    .cards-new-arr .card {
        min-width: 32%;
        max-width: 32%;
        width: 32%;
    }
    
}

@media screen and (max-width: 750px) {
    .cards-new-arr .card {
        min-width: 260px;
        max-width: 260px;
        width: 260px;
    }
    
}