.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    transition: 3s;
    width: 100%;
    padding: 20px 35vw;
    box-sizing: border-box;
    background-color: #000000;
    position: relative;
}

.popup__close {
    display: block;
    position: absolute;
    bottom: 102%;
    left: 70vw;
    width: 30px;
    height: 30px;
    background-image: url('../images/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .popup__container {
        padding: 10px;
    }

    .popup__close {
        left: auto;
        right: 20px;
    }
}