.brands {
    background: #0F0F0F;
    padding: 20px 0 50px;
    margin-bottom: 0;
}

.brands__items {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.brands__item {
    display: block;
    width: 255px;
    height: 94px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}